<!DOCTYPE html>
<html lang="zh-CN">
<%- include ./header-footer/header %>

<body>
<!-- Fixed navbar -->
<%- include ./nav/navbar %>
<!-- /Fixed navbar -->
<div class="container">
    <div class="masthead">
        <h1 class="text-muted">-</h1>
    </div>
    <div>
        <ul style="list-style:none">
            <li><h3><a href="#">友情链接1</a></h3></li>
            <li><h3><a href="#">友情链接2</a></h3></li>
            <li><h3><a href="#">友情链接3</a></h3></li>
        </ul>
    </div>
</div>

<!-- /container -->
<%- include ./header-footer/footer %>
</body>

</html>