<!DOCTYPE html>
<html lang="zh-CN">
<%- include ./header-footer/header %>

    <body>
        <!-- Fixed navbar -->
        <%- include ./nav/navbar %>
            <!-- /Fixed navbar -->
            <div class="container">
                <div class="masthead">
                    <h1 class="text-muted">-</h1>
                </div>

                <form method="post">
                    标题:
                    <br/>
                    <input type="text" name="title" />
                    <br/> 正文:
                    <br/>
                    <textarea name="content" rows="20" cols="100"></textarea>
                    <br/>
                    <input type="submit" value="存为草稿" />
                    <input type="submit" value="发表文章" />
                </form>

            </div>
            <!-- /container -->

            <%- include ./header-footer/footer %>
    </body>

</html>