<!DOCTYPE html>
<html lang="zh-CN">
<!--<%- include ./header-footer/header %>-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://localhost:8000/img/favicon.ico" rel="icon">

    <title>
        图豆
    </title>

    <!-- Bootstrap core CSS -->
    <!--<link href="http://localhost:8000/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="http://localhost:8000/css/style.css" rel="stylesheet">-->
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://7xk1t0.com1.z0.glb.clouddn.com/style.css&e=1455712261&token=Po_D3K7ayBB2tqwe0cgrE2MN5TX6aN5cwnSGX_5Z:RuB9z6Wi72L1g1G-_kRYOTdYGKc" rel="stylesheet">
    <style>

    </style>

</head>
    <body>
        <!-- Fixed navbar -->
        <%- include ./nav/navbar %>
            <!-- /Fixed navbar -->
            <div class="container">
                <div class="masthead">
                    <h1 class="text-muted">-</h1>
                </div>
                <div class="page-header">
                    <h1>用文章记忆青春，让记忆详实</h1>
                </div>
                <span><a href="/upload" title="上传">Upload</a></span>

                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputTitle1">标题</label>
                        <input type="text" name="title" class="form-control" id="exampleInputTitle1" placeholder="标题">
                    </div>
                    <div class="form-group">
                        <label >标签</label>
                        <div class="form-inline">
                                <input type="text" name="tag1" class="form-control" placeholder="标签1">
                                <input type="text" name="tag2" class="form-control"  placeholder="标签2">
                                <input type="text" name="tag3" class="form-control"  placeholder="标签3">
                        </div>
                    </div>
                    <label >正文</label>

                    <textarea name="content" rows="20" cols="100"></textarea>
                    <div style="float: right">
                        <button type="submit" class="btn btn-default">存为草稿</button>
                        <button type="submit" class="btn btn-default">发表文章</button>
                    </div>
                </form>

            </div>
            <!-- /container -->

            <%- include ./header-footer/footer %>
    </body>

</html>