<!DOCTYPE html>
<html lang="zh-CN">

<%- include ./header-footer/header %>

    <body>

        <!-- Fixed navbar -->
        <%- include ./nav/navbar %>
            <!-- /Fixed navbar -->
            <div class="container">
                <div class="masthead">
                    <h1 class="text-muted">-</h1>
                </div>
                <form method="post" action="/article/upload" enctype="multipart/form-data">
                    <input type="file" name="file1" />
                    <br/>
                    <input type="file" name="file2" />
                    <br/>
                    <input type="file" name="file3" />
                    <br/>
                    <input type="file" name="file4" />
                    <br/>
                    <input type="file" name="file5" />
                    <br/>
                    <input type="submit" value="上传文件"/><!--默认的value是提交-->


                </form>
            </div>
            <!-- /container -->



            <%- include ./header-footer/footer %>

    </body>

</html>