<!DOCTYPE html>
<html lang="zh-CN">

<%- include ../header-footer/header %>


<body>

<!-- Fixed navbar -->
<%- include ../nav/navbar %>

<!-- /Fixed navbar -->
<div class="container">
    <div class="masthead">
        <h1 class="text-muted">-</h1>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-warning alert-dismissible" role="alert" style="display: none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <strong>Info: </strong> <span id="login-register-result"></span>
            </div>
            <!--    -->
            <nav>

                <ul id="myTab" class="nav nav-justified nav-tabs">
                    <li><a href="#register" data-toggle="tab">注册</a></li>
                    <li class="active"><a href="#login" data-toggle="tab">登录</a></li>
                </ul>

            </nav>
            <hr>

            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade " id="register">
                    <!--不加action的时候默认的是什么?-->

                    <form class="form-signin" >
                        <h1>&nbsp</h1>
                        <input type="text" id="register-nickname" class="form-control" placeholder="用户名" nickname="name" required autofocus><br>
                        <input type="hidden" class="referrer-dd" name="referrer">
                        <input type="email" id="register-email" class="form-control" placeholder="邮箱" name="email" required autofocus><br>
                        <input type="password" id="register-password" class="form-control" placeholder="密码" name="password" required><br>
                        <input type="password" id="register-password-repeat"  class="form-control" placeholder="确认密码" name="password-repeat" required><br>

                        <button id="register-button" class="btn btn-lg btn-primary btn-block" >注册</button>
                    </form>
                </div>
                <div class="tab-pane fade in active" id="login">
                    <form class="form-signin">
                        <h1>&nbsp</h1>
                        <input type="email"    id="login-email" name="email" class="form-control" placeholder="邮箱" required autofocus><br>
                        <input type="password" id="login-password" name="password" class="form-control" placeholder="密码" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> 记住密码
                            </label>
                        </div>
                        <button id="login-button" class="btn btn-lg btn-primary btn-block" >登录</button>
                    </form>
                </div>

            </div>

            <!--        -->

        </div>
        <div class="col-md-6">.col-md-6</div>
    </div>

</div>
<!-- /container -->


<%- include ../header-footer/footer %>
</body>
</html>