<!DOCTYPE html>

<%- include ../header-footer/header %>

<body>

<!--引入 导航栏-->
<%- include ../nav/navbar %>

<div style="margin-top: 40px;"></div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <div style="text-align: center">

                <h2>用文字撰写青春，让记忆详实</h2>
                <h6>"这是什么操蛋问题,问题都说不清楚!" -- 你应该知道怎么提问</h6>
            </div>
            <!--<span><a href="/upload" title="上传">Upload</a></span>-->
            <div class="container" style="margin: 20px">
                <form method="post" id="create_question_form" action="/question/create">
                    <div class="form-group">
                        <label for="input-create-question-title">标题</label>
                        <input type="text" name="title" class="form-control" id="input_create_question_title"
                               placeholder="标题不要太短 | 大家会尊重 | 不要少于10个字 | 以?结尾 | 拒绝伸手党">
                    </div>
                    <div class="form-group">
                        <label>标签</label>
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="text" name="tag1" class="form-control" placeholder="标签1">
                            </div>
                            <div class="col-xs-3">
                                <input type="text" name="tag2" class="form-control" placeholder="标签2">
                            </div>
                            <div class="col-xs-4">
                                <input type="text" name="tag3" class="form-control" placeholder="标签3">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>问题描述</label>
                        <textarea name="content" rows="20" cols="50" class="simple-markdown-text-area""></textarea>
                    </div>
                    <div style="float: right">
                        <button type="submit" class="btn btn-default">
                                提问
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <!--引入 文章右边说明-->
            <%- include ./sidebar %>
        </div>
    </div>
</div>
<%- include ../header-footer/footer %>
<script>
    (function () {
        $('#create_question_form').on('submit', function (e) {

        });
        $('#input_create_question_title').on('change', function () {
            var $this = $(this);
            var value = $(this).val().trim();
            if (value.length < 10) alert('据说标题长点会吸引人哎!');
        });

        $('#input_create_question_content').on('change', function () {
            var $this = $(this);
            var value = $(this).val().trim();
            if (value.length < 10) alert('非常建议你详细描述一下你的问题,疑惑!');
        });
        $("a.fa.fa-columns.no-disable.no-mobile").on('click', function () {
            $(".navbar.navbar-default.navbar-fixed-top").css("display", "none");
        });
    })();
</script>
</body>

</html>