<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">编辑器使用说明</h3>
    </div>
    <div class="panel-body">
        <h5><span class="fa fa-arrows-alt no-disable"></span>&nbsp;&nbsp;全屏书写[全屏后按Esc退出]</h5>
        <h5><span class="fa fa-columns no-disable"></span>&nbsp;&nbsp;可以开启边写边预览</h5>
        <h5><span class="fa fa-eye no-disable"></span>&nbsp;&nbsp;可以预览markdown格式的语法</h5>
        <a href="http://mahua.jser.me/" target="_blank"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;markdown语法说明与尝试</a>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Markdown 语法参考</h3>
    </div>
    <div class="panel-body">
        <h5>### 单行的标题</h5>
        <h5>**粗体**</h5>
        <h5>`文字高亮`</h5>
        <h5>[链接说明](链接地址)</h5>
        <h5>![图片说明](图片链接)</h5>
        <a href="http://mahua.jser.me/" target="_blank"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;markdown语法说明与尝试</a>

    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">发表文章提示</h3>
    </div>
    <div class="panel-body">
        <h5>尽量把话题要点浓缩到标题里</h5>
        <h5>尽量把文章的质量提高,并且能够思路清晰</h5>
        <h5>尽量学习使用markdown语法,排版更好,读起来舒服</h5></p>
        <h5>我当时学习学习markdown用了五分钟</h5></p>
        <h5>给文章选择合适的标签能方便别人浏览和自己查找</h5>
        <h5>非常感谢您写的文章,提的问题和撰写的答案</h5>
        <a href="http://mahua.jser.me/" target="_blank"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;markdown语法说明与尝试</a>

    </div>
</div>