 <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">热议标签</h3>
                </div>
                <div class="panel-body">

                    <span class="label label-warning">校园卡</span>
                    <span class="label label-warning">实习</span>
                    <span class="label label-warning">食堂</span>
                    <span class="label label-warning">宿舍</span>
                    <span class="label label-warning">读书</span>
                    <span class="label label-warning">图书馆</span>
                    <span class="label label-warning">大神</span>

                </div>
            </div>