<nav class="navbar navbar-inverse navbar-fixed-top">
    <!--container是用来固定宽度的,若是写成container-fluid则表示流媒体视窗,是根据视窗大小来的.也就是百分百的大小,效果上就是导航条顶到两边-->
    <div class="container">
        <%- include navbar-bak.ejs %>
        <!--麦子学院 start-->
        <!--小屏幕导航按钮和LOGO-->
        <!--折叠起来的导航栏实际上是一个带有 class .navbar-toggle 及两个 data- 元素的按钮-->
        <button class="navbar-toggle">
            <!--icon-bar就是折叠滞后的一个个的晓得折线-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">图豆^_^</a>

        <!--导航的具体内容-->
        <!--为了给导航栏添加响应式特性，您要折叠的内容必须包裹在带有 classes .collapse .navbar-collapse 的 <div>-->
        <div class=" navbar-collapse collapse">
            <!--想让导航的内容居右显示-->
            <!--nav 类是去掉li属性前面的一个点点的-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">首页</a></li>
                <li><a href="/">问答</a></li>
                <li><a href="/">简文</a></li>
                <li><a href="/">校园卡</a></li>
                <li><a href="/">图书馆</a></li>
                <li><a href="/">帮助</a></li>
                <li><a href="/">我</a></li>
            </ul>
        </div>
        <!--导航的具体内容-->

        <!--麦子学院 end-->
    </div>
    <!--container end-->
</nav>