<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="/">图豆^_^</a>-->
<!--</div>-->
<!--<div id="navbar" class="navbar-collapse collapse">-->
<!--<ul class="nav navbar-nav">-->

<!--<li class="active"><a href="/">Home</a></li>-->
<!--<li><a href="/questions">问答</a></li>-->
<!--&lt;!&ndash;<li><a href="/articles">简文</a></li>&lt;!&ndash;注意这边需要加上反斜杠 /, 否则就会导致点击时候这个链接变为了相对路径.&ndash;&gt;&ndash;&gt;-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--简文<span class="caret"></span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="/articles" title="简文">简文</a></li>-->
<!--<li><a href="/articles/archive" title="存档">存档</a></li>-->
<!--<li><a href="/articles/tags" title="标签">标签</a></li>-->
<!--<li><a href="#">待定</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><a href="/campus-card">校园卡</a></li>-->
<!--<li><a href="/library">图书馆</a></li>-->

<!--<form class="navbar-form navbar-right" role="search" method="get" action="/search">-->
<!--<div class="btn-group" role="group">-->
<!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="search-choice-item">-->
<!--书名-->
<!--<span class="caret"></span>-->
<!--</button>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#">问答</a></li>-->
<!--<li><a href="#">简文</a></li>-->
<!--<li><a href="#">作者</a></li>-->
<!--<li role="separator" class="divider"></li>-->
<!--<li><a href="#">书名</a></li>-->
<!--<li><a href="#">作者</a></li>-->
<!--<li><a href="#">出版社</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="Search" name="keyword">-->
<!--</div>-->
<!--<div class="btn-group" role="group" aria-label="...">-->
<!--</div>-->

<!--<button type="submit" class="btn btn-default">Go!</button>-->
<!--</form>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->


<!--<li><a href="help">帮助</a></li>-->
<!--<li><a href="message">消息</a></li>-->
<!--<%if(user){%>-->

<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="提问&写文章">-->
<!--<span class="glyphicon glyphicon-pencil"></span>-->
<!--<span class="caret"></span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="/article/post">写篇文章</a></li>-->
<!--<li><a href="">提个问题</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--<%= user.name %>-->
<!--<span class="caret"></span>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="/users/u/<%= user.name %>">我的主页</a></li>-->
<!--<li><a href="/users/logout">退出登录</a></li>-->
<!--</ul>-->
<!--</li>-->

<!--<%} else{%>-->
<!--<li class="active"><a href="/users/login-register">登录&注册<span class="sr-only">(current)</span></a></li>-->


<!--<%}%>-->
<!--</ul>-->
<!--</div>-->
<!--/.nav-collapse -->
