<nav class="navbar navbar-default navbar-fixed-top">
    <!--container是用来固定宽度的,若是写成container-fluid则表示流媒体视窗,是根据视窗大小来的.也就是百分百的大小,效果上就是导航条顶到两边-->
    <div class="container">
        <!-- 可以看一下: 导航的LOGO以及小按钮放在一个div,而导航的具体内容也放在一个div中,因此就是两个容器层,这样在缩小浏览器的时候就能体现比较明显了-->
        <%- include navbar-bak.ejs %>
        <!--麦子学院学习 start-->
        <!--小屏幕导航按钮和LOGO-->
        <!--折叠起来的导航栏实际上是一个带有 class .navbar-toggle 及两个 data- 元素的按钮-->
        <!--第一个是 data-toggle，用于告诉 JavaScript 需要对按钮做什么;这里表示collapse,表示进行打开与折叠-->
        <!--第二个是 data-target，指示要切换到哪一个元素;这里表示切换到一个class是navbar-collapse的元素;-->
        <div class="navbar-header">
            <!--切记:data-target=".navbar-collapse" 这里有一个.表示选择一个class元素;丢掉这个点,就没有效果;还是把作者的代码下载下来对照才找到错误!切记-->
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <!--icon-bar就是折叠滞后的一个个的晓得折线-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">图豆^_^</a>

        </div>

        <!--导航的具体内容-->
        <!--为了给导航栏添加响应式特性，您要折叠的内容必须包裹在带有 classes .collapse .navbar-collapse 的 <div>-->
        <div class="navbar-collapse collapse">
            <!--想让导航的内容居右显示-->
            <!--nav 类是去掉li属性前面的一个点点的-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">首页</a></li>
                <li><a href="/questions">问答</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        简文<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--注意这边需要加上反斜杠 /, 否则就会导致点击时候这个链接变为了相对路径.-->
                        <li><a href="/articles" title="文章">文章</a></li>
                        <li><a href="/articles/archive" title="存档">存档</a></li>
                        <li><a href="/articles/tags" title="标签">标签</a></li>
                        <li><a href="#">待定</a></li>
                    </ul>
                </li>
                <li><a href="/campus-card">校园卡</a></li>
                <li><a href="/library">图书馆</a></li>
                <% if(user){ %>
                <li><a href="/message">消息</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" title="提问&写文章">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/article/post">写篇文章</a></li>
                        <li><a href="">提个问题</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <%= user.nickname %>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/u/<%= user._id %>">我的主页</a></li>
                        <li><a href="/user/logout" >退出登录</a></li>
                    </ul>
                </li>

                <% } else{ %>
                <li class="active"><a href="/user/login-register">登录&注册<span class="sr-only">(current)</span></a></li>

                <% } %>
            </ul>
        </div>
        <!--导航的具体内容-->

        <!--麦子学院学习 end-->
    </div>
    <!--container end-->
</nav>