<div class="comments">
    <div class="alert alert-success" role="alert">评论区
        <a href="#postCommentArea" class="alert-link" style="float:right">发表新评论</a>
    </div>
    <br/>
    <!--该文章已有的评论-->
    <%- include ./publishedReplies %>
    <!--发表评论-->
   <%- include ./createReply %>
</div>