<!-- FOOTER -->

<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p ><a href="/footer/links">友情链接</a></p>
        <p class="text-muted">Place sticky footer content here.</p>
        <p class="text-muted">Place sticky footer content here.</p>
        <%if(success){%>
            <div>
                <%= success %>
            </div>
            <%}%>

                <%if(error){%>
                    <div>
                        <%= error %>
                    </div>
                    <%}%>
    </div>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://localhost:8000/js/jquery.min.js"></script>
<script src="http://localhost:8000/js/bootstrap.min.js"></script>
<!-- FOOTER -->