<!-- FOOTER -->

<footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p><a href="/footer/links">友情链接</a></p>
        <p class="text-muted">Place sticky footer content here.</p>
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>


<script src="http://localhost:8000/js/jquery.min.js"></script>
<script src="http://localhost:8000/js/bootstrap.min.js"></script>
<script src="http://localhost:8000/js/simplemde.min.js"></script>

<script>
    $(".search-module .dropdown-menu li a").click(function(e){
        e.preventDefault();
        $("#search-choice-item").text($(this).text());
//        alert($(this).text());
    });
    if (document.getElementsByTagName("textarea")){
        var simplemde = new SimpleMDE();
        simplemde.value("This text will appear in the editor");
    }

//    $("#logout-button").click(function(e){
//        var request = new XMLHttpRequest();
//        request.open("POST", '/user/logout', true);
//        request.setRequestHeader("Content-Type", "application/json")
//        request.onload = function () {
//            if (request.status === 200) {
//                var response = JSON.parse(request.responseText);
//                if (response.resultFromServer === "logoutSuccess") {
//                    location.reload();
//                }
</script>
<!-- FOOTER -->