<head>
    <meta charset="utf-8">
    <!--开启IE最新的渲染模式: IE8不支持html5标签，bootstrap里用了很多HTML5标签 ，所以需要IE8的补丁 针对IE8做一些弥补措施-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://localhost:8000/img/favicon.ico" rel="icon">

    <title>
        图豆
    </title>

    <!-- Bootstrap core CSS -->
    <!--<link href="http://localhost:8000/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="http://localhost:8000/css/style.css" rel="stylesheet">-->
    <link href="https://necolas.github.io/normalize.css/3.0.3/normalize.css" rel="stylesheet">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://7xk1t0.com1.z0.glb.clouddn.com/style.css&e=1455712261&token=Po_D3K7ayBB2tqwe0cgrE2MN5TX6aN5cwnSGX_5Z:RuB9z6Wi72L1g1G-_kRYOTdYGKc" rel="stylesheet">
    <!--自定义css样式,放在下面,就可以覆盖默认的bootstrap样式了-->
    <link href="http://localhost:8000/bootstrap-potato.css" rel="stylesheet">


</head>