<% if (question.answers && question.answers.length > 0 ){ %>
<% question.answers.forEach(function (answer, index) { %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            
            <a href="/user/u/<%= answer.author_id %>" class="label label-primary">
                <%= answer.author.nickname %>
            </a>
            <span class="label label-default">回复于 <%= answer.create_at_ago() %></span></h3>
    </div>
    <div class="panel-body">
        <%- answer.content %>
    </div>
</div>
<% }) %>
<% } %>