 <div class="panel panel-default">
      <!-- Default panel contents -->
     <div class="panel-heading">热门收藏回答</div>
            <!-- List group -->
            <ul class="list-group">
            <%　answers_hottest_10.forEach(function(hot_answer){ %>
                <li class="list-group-item">
                        <div class="content-blog">
                            <a href="/collection/37446102" target="_blank"><%= hot_answer.title %></a>
                            <div class="meta">
                                <span>
                                <%= hot_answer.be_collected_count %> 人收藏</span>
                                <span class="zg-bull">•</span>
                                <span><%= hot_answer.comment_count %> 个评论</span>
                            </div>
                        </div>
                </li>
                <% })%>
                    
                  
                </ul>
            </div>